:host {
  --dock-scale: 1;
  display: block;
  position: relative;
}

.slider {
  width: 100%;
  position: relative;

  .item {
    
    width: 60px;
    position: relative;
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: flex-start;

    .block {
      padding: 30px;
      color: #ffffff;
      border-radius: 10px;
      box-sizing: border-box;
      position: relative;
      margin: 0;
      background-position: center;
      box-shadow: none;
      transform: scale(var(--dock-scale));
      transform-origin: left center;
      transition: transform 140ms ease-out, box-shadow 140ms ease-out;
      will-change: transform;
      background-size: 35px;
      background-repeat: no-repeat;
      height: 70px;
      

      .circleLight {
        top: 0px;
        left: 0px;
        opacity: 0;
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        /*         transition: 0.5s; */
        position: absolute;
        border-radius: 10px;
        background: radial-gradient(circle at 80px 40px, #fff, transparent);
      }

/*       &:hover {
        box-shadow: 0px 0px 60px #111;

        .circleLight {
          opacity: 0.4;
        }
      } */
    }
  }
}
