.slider {
  width: 100%;
  position: relative;

  .item {
    &:hover {
      .bg {
        opacity: 0.2;
      }

      .block {
        box-shadow: 0px 0px 50px #333;
      }
    }

    .block {
      padding: 30px;
      color: #ffffff;
      border-radius: 10px;
      box-sizing: border-box;
      background-position: center;
      box-shadow: none;
      scale: 1.03;
      background-size: 35px;
      background-repeat: no-repeat;

      .circleLight {
        top: 0px;
        left: 0px;
        opacity: 0;
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        /*         transition: 0.5s; */
        position: absolute;
        border-radius: 10px;
        background: radial-gradient(circle at 80px 40px, #fff, transparent);
      }

      &:hover {
        box-shadow: 0px 0px 60px #111;

        .circleLight {
          opacity: 0.4;
        }
      }
    }
  }
}
