:host {
  display: block;
  --dock-overlap: 28px;
}

ul.dock {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
  position: relative;
  isolation: isolate;
  width: 60px;
}

ul.dock::before {
  content: '';
  position: absolute;
  left: calc(-1 * var(--dock-extra-left, 0px));
  top: calc(-1 * var(--dock-extra-top, 0px));
  width: calc(100% + var(--dock-extra-left, 0px) + var(--dock-extra-right, 0px));
  height: calc(100% + var(--dock-extra-top, 0px) + var(--dock-extra-bottom, 0px));
  background-color: #a7a0a090;
  border-radius: 30px;
  pointer-events: none;
  transition:
    width 140ms ease-out,
    height 140ms ease-out,
    left 140ms ease-out,
    top 140ms ease-out;
  z-index: 0;
}

ul.dock > li {
  text-decoration: none;
  width: 60px;
  position: relative;
  transform: translateY(var(--dock-shift, 0px));
  transition: transform 140ms ease-out;
  will-change: transform;
  z-index: 1;
}

ul.dock > li + li {
  margin-top: calc(-1 * var(--dock-overlap));
}
