:host {
  display: block;
  --dock-overlap: 28px;
}

ul.dock {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
  border: 1px solid black;
  width: 60px;
  background-color: #FFFFFF40;
  border-radius: 30px;
}

ul.dock > li {
  text-decoration: none;
  width: 60px;
  position: relative;
  transform: translateY(var(--dock-shift, 0px));
  transition: transform 140ms ease-out;
  will-change: transform;
}

ul.dock > li + li {
  margin-top: calc(-1 * var(--dock-overlap));
}
